{% import "_includes/forms" as forms %}

{{ forms.elementSelect({
	id: id,
    name: craft.request.getPost('name')|raw,
    elementType: craft.elements.getElementType('Entry'),
    criteria: {"localeEnabled":null,"locale":craft.locale,"type":entryTypes},
    sources: sources,
    limit: limit,
	modalStorageKey: id|lower|trim
}) }}
