
@keyframes pulse {
  0% {
    transform: scale(.85);
  }
  100% {
    transform: scale(1);
  }
}


.layout--element {
    overflow: hidden;
    cursor: pointer;
    padding: 3px;


    > div {
        height: 150px;
        position: relative;
        border: 1px solid rgba(0,0,0,.1);
        text-align: center;
        border-radius: 2px;
    }

    &.selected {
        > div {
            border-width: 2px;
            border-color: #2786F3;
        }
        .layout--icon {
            position: relative;
            // display: inline-block;
            // flex: 1 30%;
            // align-self: center;
            svg {
                // width: 75px;
                // height: 75px;
                //transform-origin-x: 50%;
                //transition: all .5s cubic-bezier(0, 0, 0.03, 1.38);
                animation: pulse .5s ease-in-out;

            }
        }
        .layout--meta {
            // display: inline-block;
            // flex: 2 70%;
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
            input {
                margin-left: 0px !important;
                margin-bottom: 10px;
                width: 90%;
            }
        }
    }

    .layout--wrapper {
        // display: -webkit-box;
        // display: -moz-box;
        // display: -ms-flexbox;
        // display: -webkit-flex;
        // display: flex;
        //
        // -webkit-flex-flow: row wrap;
        // flex-flow: row wrap;

        >div {
            //display: block;
            //flex: 1 auto;
        }
    }



    .layout--meta {
        display: none;
        text-align: left;
        padding-top: 0px;
        transition: all .4s ease-out;
        input {
            display: block;
            margin-left: 15px;
        }
        label {
            position: relative;
            font-weight: bold;
            color: #576575;
        }
    }

    .layout--icon {
        display: block;
        width: 100%;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select:none;
        user-select:none;
        -o-user-select:none;
        svg {
            transform: scale(1);
            transform-origin-x: 50%;
            //transition: all .4s cubic-bezier(0, 0, 0.03, 1.38);
            fill: co(darkGray);
        }
    }

    .move {
        display: block;
        position: absolute;
        left: 5px;
        top: 2px;
        z-index: 3;
    }
}

input[data-section-id]:disabled ~ label {
    opacity: .5;
}


/*
 * Layouts Field
*/
.layouts-field-wrapper {
    .layout--element {
        > div {
            cursor: pointer !important;
            height: 125px;
            border: none;
        }
    }

    .layouts--elements_heading {
        display: block;
        border-radius: 3px 3px 0 0;
        border-bottom: 1px solid #e3e5e8;
        background: #eef0f1;
        color: #b9bfc6;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-wrap: normal;
        cursor: default;
        line-height: 2.5;
        padding: 0px 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;

        .actions {
            cursor: pointer;
            color: #29323d;

            .collapse {
                display: inline-block;
            }
            .expand {
                display: none;
            }
        }
    }

    .layouts--elements_wrapper {
        padding: 15px 0px;
        width: 100%;
        height: 325px;
        overflow-y: scroll;

        border: 1px solid #e3e5e8;
        border-top: none;
        border-radius: 0px 0px 3px 3px;
        -webkit-box-shadow: 0 0 5px rgba(51, 170, 255, 0);
        -moz-box-shadow: 0 0 5px rgba(51, 170, 255, 0);
        box-shadow: 0 0 5px rgba(51, 170, 255, 0);
        -webkit-transition: -webkit-box-shadow linear 100ms;

        -moz-transition: box-shadow linear 100ms;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;

        transition: height .2s ease-out;
    }

    .collapsed {
        .actions {
            .collapse {
                display: none;
            }
            .expand {
                display: inline-block;
            }
        }

        .layouts--elements_wrapper {
            height: 0px !important;
            padding: 0px !important;
            transition: height .2s ease-out;
        }

    }


    //field
    .layout__icon {
        display: block;
        margin-bottom: 7px;
        padding: 0px 10px;
        border-radius: 3px;
        border: 0px solid #e3e5e8;
        border-top: none;
        text-align: center;
        background-color: #ffffff;

        -webkit-box-shadow: 0 0 5px rgba(51, 170, 255, 0);
        -moz-box-shadow: 0 0 5px rgba(51, 170, 255, 0);
        box-shadow: 0 0 5px rgba(51, 170, 255, 0);
    }

    .layout__description {
        position: relative;
        display: inline-block;
        padding: 7px;
        border-radius: 3px 3px 3px 0px;
        background-color: #eef0f1;
        margin-top: 15px;
        &:after {
            bottom: 100%;
        	left: 10%;
        	border: solid 1px #e3e5e8;
        	content: " ";
        	height: 0;
        	width: 0;
        	position: absolute;
        	pointer-events: none;
        	border-color: rgba(241, 241, 241, 0);
        	border-bottom-color: #eef0f1;
        	border-width: 7px;
        	margin-left: -7px;
        }
        span {
            display: block;
            padding: 0px 3px;
            color: #576575;
            text-align: center;
        }
    }

    .layout__icon-small {
        display: inline-block;
        position: relative;
        top: 4px;
        opacity: .5;
    }

    .layout__remove {
        color: #29323d;
        opacity: .5;
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 12px;
        &:hover {
            opacity: .8;
        }
    }




    // Tooltip

    [data-tooltip] {
        position: relative;
        z-index: 2;
        cursor: pointer !important;
    }

    [data-tooltip]:before,
    [data-tooltip]:after {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }

    [data-tooltip]:before {
        position: absolute;
        bottom: 0%;
        left: 50%;
        margin-bottom: 5px;
        margin-left: -80px;
        padding: 7px;
        width: 160px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: #000;
        background-color: hsla(0, 0%, 20%, 0.9);
        color: #fff;
        content: attr(data-tooltip);
        text-align: center;
        font-size: 14px;
        line-height: 1.2;
        z-index: 5;
    }

    /* Triangle hack to make tooltip look like a speech bubble */
    [data-tooltip]:after {
        display: none;
        position: absolute;
        bottom: 0%;
        left: 50%;
        margin-left: -5px;
        width: 0;
        border-top: 5px solid #000;
        border-top: 5px solid hsla(0, 0%, 20%, 0.9);
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        content: " ";
        font-size: 0;
        line-height: 0;
    }

    /* Show tooltip content on hover */
    [data-tooltip]:hover:before,
    [data-tooltip]:hover:after {
        visibility: visible;
        opacity: 1;
        transition: all .2s ease-out;
    }
}
// if in
.matrixblock {
    .layouts-field-wrapper .layouts--elements_wrapper {
        background-color: #ffffff !important;
    }
    .layouts-field-wrapper .layout__icon {
        background-color: #ffffff !important;
    }
}
