{% import "_includes/forms" as forms %}

{% macro icon(icon, size = 148, baseline = 148, classes = '') %}
    {% set baseName = "types-Layouts_Layouts" %}
    <svg class='icn icon-{{ size }} {{ classes }}'><use xlink:href='#{{baseName}}-icon-{{ icon }}'></use></svg>
{% endmacro %}

{% macro hud(layout, idx, selected) %}
    {% set sections = craft.sections.getAllSections() %}
    <div class='layout--sources-hud' id="layout-{{idx}}-hud" data-hud-id="layouts-{{idx}}">

        <input type="hidden" name="layouts[id]" value="{{ layout.id }}" {% if not selected %}disabled{% endif %}>
        <input type="hidden" name="layouts[icon]" value="{{ layout.icon }}" {% if not selected %}disabled{% endif %}>
        <div class="field">
            <div class="heading">
                <label>Handle</label>
            </div>
            <div class="input">
                <input class="text fullwidth" type="text" name="layouts[handle]" value="{{ layout.handle }}" placeholder="{{ 'handle'|t }}" {% if not selected %}disabled{% endif %}>
            </div>
        </div>
        <div class="field">
                <div class="heading">
                    <label>Description</label>
                </div>
            <div class="input">
                <input class="text fullwidth" type="text" name="layouts[description]" value="{{ layout.description }}" placeholder="{{ 'description'|t }}" {% if not selected %}disabled{% endif %} >
            </div>
        </div>
        <div class='field'>
            <div class="heading">
    			<label id="layout-{{idx}}-Entries-sources-label" for="layout-{{idx}}-Entries-sources">{{ 'Sources'|t }}</label>
    			<div class="instructions"><p>{{ 'Which sources do you want to select entries from?'|t }}</p></div>
    		</div>
            <div class="input">
                <div class="checkbox-select">
                    {# <div>
                        <input
                            type="checkbox"
                            id="layout-{{idx}}-entries-sources"
                            name="layouts[entries][sources]"
                            class="all"
                            value="*"
                            checked
                            {% if not selected %}disabled{% endif %}/>
                        <label for="layout-{{idx}}-entries-sources"><strong>{{ "All"|t }}</strong></label>
                    </div> #}
                    {% for section in sections %}
                        {% set sectionId = "section:"~section.id %}
                        <div>
                            <input
                                type="checkbox"
                                class="layout--source-checkbox"
                                id="layout-{{idx}}-section{{section.id}}-entries-checkbox"
                                name="layouts[entries][sources][]"
                                value="{{sectionId}}"
                                {% if layout.entries is defined and layout.entries|length %}
                                    {% if layout.entries.sources is defined
                                        and layout.entries.sources|length
                                        and sectionId in layout.entries.sources %}
                                        checked
                                    {% endif %}
                                {% else %}
                                    checked
                                {% endif %}
                                {% if not selected %}disabled{% endif %}/>
                            <label for="layout-{{idx}}-section{{section.id}}-entries-checkbox"><strong>{{ section.name }}</strong></label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="field" id="layout-{{idx}}-Entries-limit-field">
			<div class="heading">
				<label id="layout-{{idx}}-Entries-limit-label" for="layout-{{idx}}-Entries-limit">{{ 'Limit'|t }}</label>
				<div class="instructions"><p>{{ 'Limit the number of selectable entries.'|t }}</p></div>
			</div>
		    <div class="input ltr">
			    <input
                    class="text"
                    type="text"
                    id="layout-{{idx}}-Entries-limit"
                    size="2"
                    name="layouts[entries][limit]"
                    value="{{ (layout.entries is defined and layout.entries.limit is defined and layout.entries.limit is defined and layout.entries.limit is not null) ? layout.entries.limit : '' }}"
                    autocomplete="off"
                    {% if not selected %}disabled{% endif %}>
	        </div>
		</div>
        <div class="field">
            <div class="heading">
				<label id="layout-{{idx}}-Entries-sources-types" for="layout-{{idx}}-Entries-sources-types">{{ 'Entry Types'|t }}</label>
				<div class="instructions"><p>{{ 'Select entry types.'|t }}</p></div>
			</div>
            <div class="input">
                <div class="checkbox-select">
                    {% for section in sections %}
                        {% set entryTypes = section.getEntryTypes() %}
                        {% set sectionId = "section:"~section.id %}
                        <div class="section-wrap">
                            {% for entryType in entryTypes %}
                                {% set entryTypeId = "entrytype:"~entryType.handle %}
                                <div>
                                    <input
                                        type="checkbox"
                                        id="layout-{{idx}}-{{section.id}}-entrytype-{{entryType.handle}}-checkbox"
                                        name="layouts[entries][entrytypes][]"
                                        value="{{entryTypeId}}"
                                        data-section-id="{{sectionId}}"
                                        {% if layout.entries is defined
                                            and layout.entries|length %}
                                            {% set entries = layout.entries %}
                                            {% if entries.sources is defined
                                                and entries.sources|length
                                                and sectionId in entries.sources %}
                                                {% if entries.entrytypes is defined
                                                    and entries.entrytypes|length
                                                    and entryTypeId in entries.entrytypes %}
                                                        checked
                                                {% endif %}
                                            {% else %}
                                                disabled
                                            {% endif %}
                                        {% else %}
                                            checked
                                        {% endif %}
                                        {% if not selected %}disabled{% endif %}/>
                                        <label for="layout-{{idx}}-{{section.id}}-entrytype-{{entryType.handle}}-checkbox"><strong>{{ entryType.name }}</strong></label>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro layout(layout, idx, selected = false) %}
    {% from _self import icon %}
    {% from _self import hud %}
    <div class="layout--element {% if selected %}selected{% endif %} col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="layout--wrapper">
            <a class="move icon" title="Reorder" role="button"></a>
            {# <div class="layout--actions">
                <span class="edit" alt="{{ "Edit Details"|t }}" role="button">{{"Edit"|t}}</span>
            </div> #}
            <div class="layout--icon">
                {{ icon(layout.icon, 120, 120, "large-icon") }}
            </div>
            <div class="layout--meta">
                <a class="edit btn" title='{{"Edit Layout Meta"|t}}' role="button">{{ "Edit"|t }}</a>
            </div>
            <input type="hidden" class="layout--data" name="layouts[]" value="" {% if not selected %}disabled{% endif %}>

            {{ hud(layout, idx, selected) }}
        </div>
    </div>
{% endmacro %}

{% from _self import icon %}
{% from _self import layout %}

<div class='field' id="{{id}}">
    <hr>
    <div class="heading">
        <label>{{ "Select Layouts" }}</label>
        <div class="instructions">
            <p>
                {{ "Select which layouts will be available to the user. Update handle, title, description and move them in the display order."|t }}
            </p>
        </div>
    </div>
    <br>

    <div class="layout-elements row center-xs start-sm start-md start-lg">

        {% if settings.layouts and settings.layouts|length %}
            {% set ids = [] %}
            {% for layout in settings.layouts %}
                {{ layout(layout, loop.index, true) }}
                {% set ids = ids|merge([layout.id]) %}
            {% endfor %}

            {# Output remaing layouts that were not saved #}
            {% set idx = settings.layouts|length %}
            {% for layout in defaultLayouts %}
                {% set idx = idx + 1 %}
                {% if layout.id not in ids %}
                    {{ layout(layout, idx, false) }}
                {% endif %}
            {% endfor %}
        {% endif %}

        {# If no layouts saved output defaults  #}
        {% if not settings.layouts and defaultLayouts|length %}
            {% for layout in defaultLayouts %}
                {{ layout(layout, loop.index) }}
            {% endfor %}
        {% endif %}

    </div>
</div>

{% include 'layouts/_partials/icons' %}
