{#
/**
 * Layouts plugin for Craft CMS
 *
 * Layouts Settings.twig
 *
 * @author    Tipping Media LLC
 * @copyright Copyright (c) 2016 Tipping Media LLC
 * @link      http://tippingmedia.com
 * @package   Layouts
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% includeCssResource "layouts/css/Layouts_Style.css" %}
{% includeJsResource "layouts/js/Layouts_Script.js" %}

{{ forms.textField({
    label: 'Some Setting',
    instructions: 'Enter some setting here.',
    id: 'someSetting',
    name: 'someSetting', 
    value: settings['someSetting']})
}}
